@font-face {
    font-family: "iconfont"; /* Project id 3965810 */
    src: url('//at.alicdn.com/t/c/font_3965810_hswmtte8olg.woff2?t=1679368101143') format('woff2'),
         url('//at.alicdn.com/t/c/font_3965810_hswmtte8olg.woff?t=1679368101143') format('woff'),
         url('//at.alicdn.com/t/c/font_3965810_hswmtte8olg.ttf?t=1679368101143') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-wenzhang-copy:before {
    content: "\e643";
  }
  
  .icon-bofangqi-bofangxiaodianshi:before {
    content: "\e6ab";
  }
  
  .icon-caihong:before {
    content: "\e718";
  }
  
  .icon-guanli:before {
    content: "\e600";
  }
  
  .icon-qq:before {
    content: "\e66a";
  }
  
  .icon-shu:before {
    content: "\e634";
  }
  
  .icon-weixin:before {
    content: "\e62c";
  }
  
  .icon-aixin:before {
    content: "\e613";
  }
  
  .icon-csdn:before {
    content: "\e638";
  }
  
  .icon-pengyouquan:before {
    content: "\e615";
  }
  
  .icon-dianying:before {
    content: "\e8c4";
  }
  
  .icon-zonglanxiushi:before {
    content: "\e609";
  }
  